@import '../../utils/variables.scss';

.logo {
    color: $base-red;
    font-size: 20px;

    .bold {
        font-weight: 900;
    }

    .regular {
        font-weight: 500;
    }

    &-header {
        position: absolute;
        left: 60px;
        top: 20px;
    }
}


