@import "../../utils/variables.scss";

.add-button {
    position: absolute !important;
    top: 20px;
    right: 56px;
    box-shadow: none !important;
    color: $base-red !important;
    font-weight: 600 !important; 
    font-size: 20px !important;
}
