@import "../../utils/variables.scss";

button.add-button {
    position: absolute;
    top: 20px;
    right: 56px;
    box-shadow: none;
    color: $base-red;
    font-weight: 600;
    font-size: 20px;
}
