@import "../../utils/variables.scss";

.body-container {
    background-color: $base-black;
    width: 100%;

    .movies-container {
        width: 100%;      
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;       
    }
}
