@import "../../utils/variables.scss";

.search {
    display: flex;
    justify-content: space-between;
    width: 960px;

    &-field {
        background: rgba(50, 50, 50, 0.8);
        opacity: 0.7;
        width: 713px;
        height: 57px;

        & input {
            color: $base-white;
        }
    }
}
